<div class="row">
  <div class="col-md-4">
    <h3 id="syllabus-r">Programming in R</h3>
    <ul>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Creating dynamic reports with knitr</li>
      <li>Good practices of writing software</li>
      <li>
        <a href="{{site.swc_pages}}/r-novice-inflammation/reference">Reference...</a>
      </li>
    </ul>
  </div>

  <div class="col-md-4">
    <h3 id="syllabus-r">Data Organization in Spreadsheets</h3>
    <ul>
      <li>Formatting data tables in spreadsheets</li>
      <li>Formatting problems</li>
      <li>Dates as data</li>
      <li>Quality control</li>
      <li>
        <a href="{{site.dc_site}}/spreadsheet-ecology-lesson/reference">Reference...</a>
      </li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3 id="syllabus-r">Data Cleaning with Open Refine</h3>
    <ul>
      <li>Introduction to OpenRefine</li>
      <li>Importing data</li>
      <li>Basic functions</li>
      <li>Advanced Functions</li>
      <li>
        <a href="{{site.dc_site}}/OpenRefine-ecology-lesson/">Reference...</a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3 id="syllabus-r">Worked Examples</h3>
    <ul>
      <li>Bring your own data (BYOD)</li>
      <li>Share some data with the workshop and explain the problem</li>
      <li>As a class we'll work through 2-3 datasets</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3 id="syllabus-r">Shiny</h3>
    <ul>
      <li>Introduction to R shiny</li>
      <li>The server/ui model</li>
      <li>Implementing interactive menus</li>
      <li>Interactive plots</li>
      <li>Sharing your shiny projects</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3 id="syllabus-r">Cloud Computing</h3>
    <ul>
      <li>What is the cloud</li>
      <li>Cloud computing vs Virtual Machines</li>
      <li>Implementing shiny in the cloud</li>
    </ul>
  </div>
</div>